{% extends "SinmarApartmentBundle::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="col-xs-12 col-sm-8">
                <h2>Communities <small>-- Results Displaying: {{ pagination.getTotalItemCount }}</small></h2>
            </div>
            <div class="col-xs-12 col-sm-4">
                <a href="{{ path("add_community") }}" class="add-btn btn btn-default">Add Community</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <table class="table">
                <tr>
                    <th{% if pagination.isSorted('a.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                    <th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>
                    <th></th>
                </tr>
                {% for community in pagination %}
                    <tr>
                        <td>{{ community.id }}</td>
                        <td>{{ community.name }}</td>
                        <td><a href="{{ path("edit_community", {'id': community.id}) }}" class="btn btn-primary">Edit Community</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock body %}