{% extends "SinmarApartmentBundle::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
            {% endfor %}
            <h3>Results Displaying: {{ pagination.getTotalItemCount }}</h3>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <table class="table">
                <tr>
                    <th{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>
                    <th{% if pagination.isSorted('a.community.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Community', 'a.community.name') }}</th>
                    <th{% if pagination.isSorted('a.address') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Address', 'a.address') }}</th>
                    <th{% if pagination.isSorted('a.city') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'City', 'a.city') }}</th>
                    <th{% if pagination.isSorted('a.state') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'State', 'a.state') }}</th>
                    <th></th>
                </tr>
                {% for apartment in pagination %}
                    <tr>
                        <td><a href="#">{{ apartment.name }}</a></td>
                        <td><a href="#">{{ apartment.community.name }}</a></td>
                        <td>{{ apartment.address }}</td>
                        <td>{{ apartment.city }}</td>
                        <td>{{ apartment.state }}</td>
                        <td><a href="#" class="btn btn-primary">View</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock body %}