<div class="header">
    <div class="upper-header">
        <div class="inner-header">
            <ul class="text-center">
                <li>
                    <span class="bold-caption">E-mail: </span> <a href="jacobweyer@gmail.com">JacobWeyer@gmail.com</a>
                </li>
                <li>
                    <span class="bold-caption">Phone: </span> 859-512-7074
                </li>
                <li>
                    <span class="bold-caption"><a href="/logout">Logout</a></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="middle-header">
        <div class="inner-header">
            <div class="logo">Sinmar Realty Apartment Search</div>
        </div>
    </div>
    <div class="navigation">
        <div class="inner-header">
            <ul class="nav">
                <li class="linav">
                    <a href="{{ path("home") }}">Home </a>
                </li>
                <li class="linav">
                    <a href="{{ path("search") }}">Search </a>
                </li>
                <li class="linav">
                    <a href="{{ path("apartments_list") }}">Apartments</a>
                </li>
                <li class="linav">
                    <a href="{{ path("list_communities") }}">Communities </a>
                </li>
                <li class="linav">
                    <a href="{{ path("message_list") }}">Messages</a>
                </li>
                <li class="linav">
                    <a href="{{ path("report_home") }}">Reporting </a>
                </li>
            </ul>
        </div>
    </div>
</div>